body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.big-parts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0px; 
  text-transform: uppercase;
}


.ultra-big-parts {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0px;
}

.main-navigation {
  text-decoration: none;
  background-color: #FFFFFF;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
 }

.navigation-item {
  width: 239px;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  list-style: none; 
  padding: 0px;
  margin-top: 55px;
  margin-bottom: 50px;
  justify-content: space-between;
}


.form-container {
  width: 575px;
  margin: auto;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 20px 120px;
  background-color: #766357;
  color: #FFFFFF;
  border: none;
}

.button:hover {
  background-color: #604E43;
}

.button:focus {
  color: #847870;
  background-color: #503E33;
}

.index-form {
  text-align: left;
  padding: 55px 55px;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.index-form-full {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.index-form-full input {
  width: 345px;
  background-color: #F2F2F2;
  border: none;
}

.index-form-half-container {
  display: flex;
  justify-content: space-between;
}

.index-form-half {
  padding-bottom: 30px;

}

.index-form-half input {
  width: 115px;
  margin-left: 40px; 
  background-color: #F2F2F2;
  border: none;
}

.submit {
  display: inline-block;
  text-align: center;
  padding: 10px 140px;
  background-color: #81B3D2;
  color: #FFFFFF;
  margin: auto;
}

.submit:hover {
  background-color: #669EC0;
}

.submit:focus {
  color: #87B6D1;
  background-color: #5496BD;
}

.academy {
  fill: #000000;
}

.submit-container {
  text-align: center;
}

.advantages-list-second {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.text-container {
  margin-top: 30px;
  margin-bottom: 70px;
}

.second-advantage {
  padding: 45px 0px;
  order:  0;
}

.third-advantage {
  order: 1;
}


.brown-advantages {

  display: flex;
  order: 3;
  justify-content: space-between;

}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-hashtag {
  margin-left: 130px;
}

.footer-copyright {
  display: flex;
  margin-right: 100px; 
}


.social-media {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 150px;
  justify-content: space-between;
}


.container-hotels{
  padding: 0px 72px;
}

.findings-head {
  display: flex;
  align-items: flex-end;
}

.findings-head-first {

  text-align: left;
}

.findings-head-second {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;

}

.sort {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.results-background {
  display: flex;
  justify-content: space-between;
}

.hotel-part {
  display: flex;
}

.hotels-book {
  display: flex;
}

.results-information {
  margin-left: 30px;
  text-align: left;
}


.results-information-more {
  display: flex;
}

.results-information-cost {
  margin-left: 40px;
}

.navigation-list {
  list-style: none;
  padding: 0px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover {
  color: #81B3D2;
}

.navigation-list a:focus {
  color: #B2B2B2;
}

.sort,
.hotels-sort {
  list-style: none;
  padding: 0px;
}

.slogan {
  margin-top: 55px;
  margin-bottom: 27px;
}


.advantage-item {
  background-color: #EEEEEE;
  width: 400px;
  padding: 50px 60px;
}

.advantage-item h3 {
  padding: 0px 60px;
}

.first-advantage {
  display: flex;
}

.advantage-item-white {
  background-color: #81B3D2;
  color: #FFFFFF;
  padding: 48px 48px;
}


.service {
  width: 400px;
  text-align: center;
  padding: 15px 50px;
}

.service h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}



.sort-high,
.sort-interactive {
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
}

.sort-interactive {
  margin-left: 30px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
} 

.social-button:hover {
  background-color: #669EC0;
}

.social-button:focus {
  background-color: #5496BD;
  fill: #87B6D1;
}

.academy {
  width: 120px;
  height: 45px;
  margin-left: 10px;

}

.academy:hover path{
  fill: #81B3D2;
}

.academy:active path{
  fill: #BDBBBC;
}

.social-button:focus path{
  fill: #87B6D1;
}

.social-button:hover {
  background-color: #669EC0;
}

.social-button:focus {
  background-color: #5496BD;
  color: #87B6D1;
}

.current-page a {
  color: #766357;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}









