body {
width: 1200px;
  margin: auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-image: url("img/sedona-index.jg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

240 650 165

a {
  text-decoration: none;
}

.main-navigation {
  text-decoration: none;
  background-color: #FFFFFF;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-size: 1200px auto;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
width: 200px;
position: absolute;
left: 50%;
margin-right:-50%;
transform: translate(-50%, 0%);
 }


.navigation-left {
  width: 478px;
  padding: 0px;
  display: flex;
  text-align: center;
}

.navigation-list-left {
  width: 239px;

}

.slogan {
  margin-top: 60px;
}


.advantages-list {
  display:flex;
  flex-direction: column;
  list-style: none; 
  padding: 0px;
  width: 1200px;
  margin-top: 60px;
  margin-bottom: 55px;
  justify-content: space-between;
}

.advantages-list-second {
  display:flex;
  justify-content: space-between;
}


.second-advantage {
  padding: 45px 0px;
  order:0;
}

.last-advantage {
  order:2;
  padding: 45px 60px;
}

.third-advantage {
  order:1;

}

.service {
  width: 400px;
  padding-right: 0px 40px;

}

.brown-advantages {
  display:flex;
  order:3;
}

.main-footer {
  display:flex;
  justify-content: center;
  align-items: center;
}

.footer-hashtag {
  width: 400px;
}

.footer-social {
  width: 400px;
}

.social-media {
  display: flex;
  
}

.footer-copyright {


}

.container-hotels{
  padding: 0px 72px;
}

.findings-head {
  display: flex;
  align-items: flex-end;
  margin-top: 20px; /*Временно для сетки*/
}

.findings-head-first {
  width: 165px;
  text-align: left;
}

.findings-head-second {
  display: flex;
  width: 365px;
  justify-content: space-between;

}

.sort {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 200px;
  justify-content: space-between;
}

.results-background {
  display: flex;
}

.results-picture {
  width: 165px;
  text-align: left;
}

.results-information {
  width: 650px;
  text-align: left;
}

.results-information-rate {
  width: 240px;
  text-align: right;
  align-self: space-between; 
}

.results-information-more {
  display: flex;
}

.results-information-type {
  width: 116px;

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:focus {
  color: #B2B2B2;
}

.sort,
.hotels-sort {
    list-style: none;
    padding: 0px;
}

.slogan {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}


.advantage-item {
  width: 400px;
  background-color: #EEEEEE;

}

.first-advantage {
  display: flex;
}

.advantage-item-white {
  background-color: #81B3D2;
  color: #FFFFFF;
  width: 400px;
}


.service {
  width: 400px;
  list-style: none;
}

.big-parts,
.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0px;
}

.sort-high,
.sort-interactive {
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
}

.social-container { 
  width: 46px;
  background-color: #81b3d2;
  border: 1px solid #ccc;
  list-style: none;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-page a {
  color: #766357;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}









