body {
width: 1200px;
  margin: auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-image: url("img/sedona-index.jg");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}


a {
  text-decoration: none;
}

.main-navigation {
  text-decoration: none;
  background-color: #FFFFFF;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-size: 1200px auto;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
position: absolute;
left: 50%;
margin-right:-50%;
transform: translate(-50%, 0%);
 }


.navigation-left {
  width:500px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.navigation-list-left {
  width: 500px;
}

.slogan {
  margin-top: 62px;
}


.advantages-list {
  display:flex;
  flex-direction: column;
  list-style: none; 
  padding: 0px;
  width: 1200px;
  margin-top: 60px;
  margin-bottom: 55px;
  justify-content: space-between;

}

.advantages-list-second {
  display:flex;
  justify-content: space-between;
}


.second-advantage {
  padding: 45px 0px;
  order:0;
  display: inline;
}

.last-advantage {
  order:2;
    padding: 45px 60px;
}

.third-advantage {
  order:1;

}

.service {
  width: 400px;
  padding-right: 40px;
  padding-left: 40px;

}

.brown-advantages {
  display:flex;
  justify-content: space-between;
  order:3;
}

.main-footer {
  display:flex;
}

.footer-hashtag {
  margin-left: 70px;
  width: 240px;
}

.footer-social {
  width: 400px;
  margin-left: 90px;
}

.social-media {
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  margin-left: 88px;
  width: 240px;
  padding-left: 15px;
}

.container-hotels{
  margin-left: 73px;
}

.findings-head {
  margin-top: 35px;
  display: flex;
  margin-left:37px;
}

.container-hotels {
  width: 1055px;
}

.sort {
  display: flex;
}

.results-background {
  display: flex;
}

.results-picture {
  width: 165px;
  text-align: left;
}

.results-information {
  width: 365px;
  text-align: left;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:focus {
  color: #B2B2B2;
}

.sort,
.hotels-sort {
    list-style: none;
}

.slogan {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}


.advantage-item {
  width: 400px;
  background-color: #EEEEEE;

}

.first-advantage {
  display: flex;

}

.advantage-item-white {
  background-color: #81B3D2;
  color: #FFFFFF;
  width: 400px;
}


.service {
  width: 400px;
  list-style: none;
}

.big-parts,
.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

}

.sort-high,
.sort-interactive {
  font-size: 12px;
  line-height: 18px;

}

.social-container { 
  width: 46px;
  background-color: #81b3d2;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 6px;
  color: #000000;
}

.current-page a {
  color: #766357;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}









